{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/confirmation.css'%}">
  </head>
  <body>
    <div class="content">
      <h1>Thank you for your purchase!</h1>
      <p>your order confirmation is 938472312</p>
      <p>A reciept has been sent to your email with your order confirmation. Please check your email and contact us if any questions or concerns are present </p>
    </div>
  </body>
      <a class="navbar-brand" href="{% url 'homepage' %}">Return to Home Page </a>
</html>
