<!-- April 16, 2020 -->
<!-- Kyle Ear -->
<!-- Gerardo Pena -->
{% extends "base.html"%}
{% load bootstrap3 %}
{%load static%}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/signup.css'%}">
<div class="container">
    <h1>Sign Up</h1>
    <form method="POST">
        {% csrf_token %}

        {% for field in registration_form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small>{{field.help_text}}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style='color:red'>{{error}}</p>
                {% endfor %}

            </p>
        {% endfor %}
        <input type="submit" value="Sign Up" class="btn btn-default">
    </form>
</div>
{% endblock %}
